body {
  background-color: #333333 !important;
  position: relative;
}

#scene {
  margin: 0 auto;
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
}

#layer_bg {
  background-image: url("../img/bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
  padding: 540px 960px 540px 960px;
  margin: -540px -960px -540px -960px;
}

#layer_fg {
  background-image: url("../img/stickUpCutout.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  height: 600px;
  width: 600px;

  -webkit-animation: drum 0.5s linear infinite;
}

/* animation bs */

@-webkit-keyframes drum {
  0% { 
    background-image: url("../img/stickUpCutout.png");
  }
  50% { 
    background-image: url("../img/stickDownCutout.png");
  }
  100% {
    background-image: url("../img/stickUpCutout.png");
  }
}